* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #333;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.quote-box {
  width: 500px;
  position: relative;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

.quote-box .quote {
  text-align: center;
  padding: 25px 25px 0 25px;
  font-size: 28px;
  line-height: 1.2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.quote-box i {
  padding: 0 10px;
}

.quote-box .author {
  float: right;
  padding: 10px;
  margin-bottom: 60px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.quote-box .twitter {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 16px;
  color: #fff;
}

.quote-box .twitter i {
  background: #333;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.quote-box #quoteBtn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  outline: none;
  padding: 10px 25px;
  background: #333;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
